---
const pageTitle = "Página de  Aboutxxx";
import PlantillaAbout from "../layouts/AboutLayout.astro";
---

<PlantillaAbout pageTitle={pageTitle}>
  <h2>Subtítulo de archivo about.astro</h2>
</PlantillaAbout>