---
const pageTitle = "Página de Postsxxx";
import PlantillaBlog from "../layouts/BlogLayout.astro";
---

<PlantillaBlog pageTitle={pageTitle}>
  <h2>subtítulo desde archivo blog.astro</h2>
</PlantillaBlog>