---
const pageTitle = "Página de  Inicioxxx";
import PlantillaBase from "../layouts/BaseLayout.astro";
---

<PlantillaBase pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo de archivo index.astro</h2>
</PlantillaBase>